.title__container{
    margin-top: 25%;
    text-align: center;
}
.title__name{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.button {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__link{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;    
    border: 2px solid #fff;
    color: #fff;
    box-sizing: inherit;
    padding: 5px;
    display: inline-block;
    font-size: 16px;
    transition: all .5s;
    height: 30px;
    width: 190px;
    text-align: center;
    cursor: pointer;
}

.fa-arrow-right {
    color: #fff;
    align-items: center;
    padding-left: 10px;
}