/* DEVICE WIDTH - media queries breakpoints */
$tablet: 680px;
$desktop: 1200px;

/* FONT SIZE */
$defaultFontSize: 16;

/* FONT FAMILY */
$main-font: 'Raleway', sans-serif; 

/* COLOURS */

// $color-main: black;
// $color-background: #e8e7e7;
// $color-white: white;